<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%= csrf_meta_tag %>
	<%= stylesheet_link_tag "application", media: "all" %>
</head>
<body>
	<%= render 'layouts/nav' %>

	<div class="main-content">
		<%= yield %>
	</div>

	<%= render 'layouts/footer' %>
	<%= javascript_include_tag "application" %>
</body>
</html>